
#Main {
    text-align: center;
    font-family: 'Product Sans', Arial, sans-serif;
    background-color: #25AFF4;
    color: white;
    text-shadow: 1px 1px #000000;
    padding: 1px 1px 1px 1px;
    margin: -10px -8px -10px -8px;
    font-size: 27px;
}


/*.Leaderboard {
    background-color: #25AFF4;
    color: white;
    font-family: 'Product Sans', Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    //display: inline-block;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px -13px 0px;
    transition: all 2s;
}*/

.scoreBox > div {
    background-color:#25AFF4;
    position: absolute;
    width: 90%;
    height: 100px;
    z-index: -1;
}

.scoreBox {
    top: 10px;
}

p {
position: absolute;
top: 50%;
left: 50%;
margin: 0;
transform:translate(-50%,-50%);
}

/*#credit{
    text-align: center;
    position: ;
    background-color: #25AFF4;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 100px;
    font-family: 'Product Sans', Arial, sans-serif;
}*/
