
#Main {
    text-align: center;
    font-family: 'Product Sans', Arial, sans-serif;
    background-color: #25AFF4;
    color: white;
    padding: 1px 1px 1px 1px;
    margin: -10px -8px -10px -8px;
    font-size: 27px;
}

.Leaderboard {
    background-color: #25AFF4;
    color: white;
    font-family: 'Product Sans', Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    //display: inline-block;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px -13px 0px;
    transition: all 2s;
}

#d0 {
    top: 0px;
    position: relative;
}

#d1 {
    top: 0px;
    position: relative;
}

#d2 {
    top: 0px;
    position: relative;
}

#d3 {
    top: 0px;
    position: relative;
}

#d4 {
    top: 0px;
    position: relative;
}

.Leaderboard > .School {
    margin: -10px -10px -10px -10px;
    padding: 3px;
    font-size: 40px;
}

.Leaderboard > .Score {
    color: white;
    margin-right: 101px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px -10px 0px;
}

.Leaderboard > .Total {
    color: #F9A937;
    text-shadow: 1px 2px #000000;
    display: inline-block;
    margin: -10px -10px -10px 30px;
}

/*#Total{
    text-align: center;
    background-color: #25AFF4;
    color: white;
    margin: 27px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Product Sans', Arial, sans-serif;
}*/

#credit{
    text-align: center;
    background-color: #25AFF4;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Product Sans', Arial, sans-serif;
}
