
#Main {
    text-align: center;
    font-family: 'Product Sans', Arial, sans-serif;
    background-color: #25AFF4;
    color: white;
    padding: 1px 1px 1px 1px;
    margin: -10px -8px -10px -8px;
    font-size: 20px;
}

.Leaderboard {
    background-color: #25AFF4;
    color: white;
    font-family: 'Product Sans', Arial, sans-serif;
    text-align: center;
    font-size: 19px;
    //display: inline-block;
    margin: 20px 0px 20px 0px;
    
}

.Leaderboard > #School {
    margin: -10px -10px -10px -10px;
    padding: 3px;
}

.Leaderboard > #Score {
    color: white;
    margin-right: 101px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px -10px 0px;

}

.Leaderboard > #Total {
    color: #F9A41D;
    display: inline-block;
    margin: -10px -10px -10px 30px;
}

#Total{
    background-color: #25AFF4;
    color: white;
    font-family: 'Product Sans', Arial, sans-serif;
}